@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Planet+Kosmos&display=swap'); */

body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    background: #121212; /* Dark mode background */
    /* box-sizing: border-box; what does this do? */
    color: #fff;
    overflow-x: hidden;
    position: relative;
}


header {
    text-align: center;
    padding: 0px 20px;
    background: rgba(16, 15, 15, 0.5) ; /* Adjusted opacity for readability  url('images/castle6.png') */
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;
    margin-bottom: 0%;
      /* text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; */
}

header.show {
  opacity: 1;
  transform: translateY(0);

}

.header-title {
  font-size: 3em;
  margin: 0;
  background: linear-gradient(45deg, #ff41f9, #9c2bff);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

@font-face {
  font-family: 'Orbitron';
  src: 
       url('fonts/orbitron.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 90px;
  background:linear-gradient(45deg, #9c2bff, #ffbc2b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  margin-top: 0;
}
h1 .planet-kosmos {
  font-family: 'Orbitron';
}

h2 {
  font-size: 60px;
  background:linear-gradient(45deg, #9c2bff, #ffbc2b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.pf {
  font-size: 25px;
  
  background: linear-gradient(45deg, #ff41f9, #ff41f9 50%, #9c2bff 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}


.highlightgreen {
    color:  #41ff7a;
}

.highlightgold {
  color:  #efc333;
}
.highlightblurple {
  color:  #7289da;
}

.highlightred {
  color:  #ff4141;
}

header p {
    font-size: 1.5em;
    margin: 0px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.content-section {

    width: 80%;
    padding: 10px 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;


    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;

    /* width: 100%;
    padding: 10px 20px;
    text-align: center;
    /* border-left: 200px solid transparent; /* 2px solid border with a black color */
    /* border-right: 200px solid transparent; 2px solid border with a black color */ 
    /* opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;
    margin-bottom: 0; */ 
}


.content-section3 {
    width: 80%;
    padding: 10px 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;


    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    
    /* border-left: 200px solid transparent; /* 2px solid border with a black color */
    /* border-right: 200px solid transparent; 2px solid border with a black color */ 
    
  
  }


.content-section2 {
  width: 100%;
  padding: 10px 2px;
  text-align: center;
  opacity: 0;
  margin-bottom: 0;

}


.content-section3 {
  width: 100%;
  padding: 10px 2px;
  text-align: center;
  opacity: 0;
  margin-top: 0;
  margin-bottom: 0;

}

.blank-space {
  gap: 20px
}

.content-section.show {
    opacity: 1;
    transform: translateY(0);
}

.content-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.content-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
    padding: 0px 20px;
    
}

.join-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background: linear-gradient(45deg, #ff41f9, #9c2bff);
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.join-button:hover {
    background: linear-gradient(45deg, #c32bff, #41ffa3);
    box-shadow: 0 0 15px #f3f0f1;
}

.join-button:hover span {
    /* animation: color-change 3s linear infinite; */
    color:  #ffd700
}

.join-button span {
    display: inline-block;
    position: relative;
    z-index: 1;
}

/* @keyframes color-change {
  0% { color: #ffd700; }  
  50% { color: #00f8df; } 
  100% { color: #ffd700; } 

} */

.money {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: cover;
  animation: explode 1s forwards;


  
}

@keyframes explode {
  to {
      transform: translate(var(--x), var(--y));
      opacity: 0;
  }
}

.counter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.counter-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter .count {
  /* font-size: 3em; */
  font-size: 60px;
  background:linear-gradient(45deg, #ff41f9, #9c2bff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.counter .count2 {
  /* font-size: 3em; */
  font-size: 60px;
  background:linear-gradient(45deg, #41ff7a, #9c2bff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fade-in {
  opacity: 0;
  transition: opacity 2s;
}

.fade-in.visible {
  opacity: 1;
}


/* @media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1.2em;
    }

    .content-section h2 {
        font-size: 2em;
    }

    .content-section p {
        font-size: 1em;
    }

    .join-button {
        padding: 10px 20px;
        font-size: 1em;
    }
} */


/* chatbot */


.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 63px;
    width: 63px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff41f9, #9c2bff);;
    transition: all 0.2s ease;
  }
  body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
  }
  .chatbot-toggler span {
    color: #fff;
    position: absolute;
  }
  .chatbot-toggler span:last-child,
  body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
  }
  body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
  }
  .chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
  }
  body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  .chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: linear-gradient(45deg, #ff41f9, #9c2bff);;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  .chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
  }
  header h2 {
    font-size: 1.4rem;
  }
  .chatbot .chatbox {
    overflow-y: auto;
    height: 510;
    padding: 30px 20px 100px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  .chatbox .chat {
    display: flex;
    list-style: none;
  }
  .chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
  }
  .chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: linear-gradient(45deg, #ff41f9, #9c2bff);;
    border-radius: 4px;
    margin: 0 10px 7px 0;
  }
  .chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: linear-gradient(45deg, #ff41f9, #9c2bff);;
  }
  .chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
  }
  .chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
  }
  .chatbox .incoming p {
    color: #ffffff;
    background: #000000;
  }
  .chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
  }
  .chat-input textarea {
    height: 25px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
  }
  .chat-input span {
    align-self: flex-end;
    color: linear-gradient(45deg, #ff41f9, #9c2bff);;
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
  }
  .chat-input textarea:valid ~ span {
    visibility: visible;
  }
  
  @media (max-width: 490px) {
    .chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
  }


/* gold mining */
.container {
  position: relative;
  /* width: 400px; */
  height: 250px;
}

.central-image {
  /* width: 10%;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; */
  z-index: 10; /* Set a higher z-index to ensure it's on top */
  width: 12%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  margin: auto;
  transform: translate(0px, 90px);
}


.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px; /* Half of the width/height */
  margin-left: -25px; /* Half of the width/height */
}

.orbit img {
  width: 100%;
  height: auto;
  transform: translate(0px, 60px);
}

.p {
  position: relative;
  z-index: 10; 
  padding: 0px 20px;
  
}

.linkedin {
  animation: orbit 8s linear infinite;
  /* transform: translate(0px, 100px); */
  z-index: 0; 
}

.github {
  animation: orbit 8s linear infinite;
  animation-delay: -2.67s; /* Start 1/3 way through TikTok's orbit */
  z-index: 0; 
}

.gmail {
  animation: orbit 8s linear infinite;
  animation-delay: -5.34s; /* Start 2/3 way through TikTok's orbit */
  z-index: 0; 
}

@keyframes orbit {
  0% {
      transform: rotate(0deg) translateX(150px) rotate(0deg);
      
  }
  100% {
      transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}


/* stars */

.starry-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(0, 0, 0);

}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgb(148, 248, 255);
  border-radius: 50%;
  opacity: 0;
  animation: blink 2s infinite ease-in-out;
}

@keyframes blink {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }

}

.shooting-star {
  position: absolute;
  width: 250px;
  height: 5px;
  background: linear-gradient(rgb(148, 248, 255), transparent);
  border-radius: 50%;
  opacity: 0.8;
  transform: rotate(-45deg);
  animation: shoot 1s ease-out forwards;
}

@keyframes shoot {
  0% {
      transform: translate(0, 0) rotate(-45deg);
      opacity: 1;
  }
  100% {
      transform: translate(500px, -500px) rotate(-45deg);
      opacity: 0;
  }
}


/* home */
.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.top-left img {
  cursor: pointer;
  width: 50px; /* Adjust the size as needed */
  height: auto;
  transition: 0.3s ease;
  position: relative;
  display: block;
}

.top-left img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff41f9, #9c2bff);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.top-left img:hover::after {
  opacity: 1;
}


/* top right toggle menu */
.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.menu-toggle span {
  display: block;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background: rgba(16, 15, 15, 0.9);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s ease;
}

.dropdown-menu a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.menu-toggle.active span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}

.dropdown-menu.show {
  display: block;
}

/* Contact Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form input, form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

#status.success {
  color: green;
  margin-top: 1rem;
}

#status.error {
  color: red;
  margin-top: 1rem;
}


/* . type writing cursor */

 .cursor {
    font-weight: bold;
    color: white;
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }

/* Add this class for when you want to stop the blink */
.cursor.stop-blink {
  animation: none;
  visibility: hidden;
}

/* button for pages */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.custom-button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(45deg, #9c2bff, #ff41f9);
  border-radius: 15px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
  background: linear-gradient(45deg, #ff41f9, #9c2bff);
  transform: translateY(-5px);
}

.custom-button:active {
  background: linear-gradient(45deg, #c32bff, #41ffa3);
  transform: translateY(0);
}

/* mobile compatibility */
@media only screen and (max-width: 1000px) {

  .counter-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  
  }

  .counter .count {
    /* font-size: 3em; */
    font-size: 40px;
   
  }
  .counter .count2 {
    /* font-size: 3em; */
    font-size: 40px;

  }
  

  .counter-section {
    padding: 0px 0px;
  }
  .grid-container {
    width: 100%;
  }

  h1 {
    font-size: 58px;
  }

  /* header h1 {
    font-size: 2em;
} */

header {
  text-align: center;
  padding: 0px 20px;
}

/* change orbit ratio based on mobile
.tiktok {
  animation: orbit 4s linear infinite;
}

.instagram {
  animation: orbit 4s linear infinite;
  animation-delay: -1.34s; /* Start 1/3 way through TikTok's orbit */
/* }

.youtube {
  animation: orbit 4s linear infinite;
  animation-delay: -2.67s; /* Start 2/3 way through TikTok's orbit */



.orbit img {
  width: 75%;
  height: auto;
  transform: translate(0px, -60px);
}
.central-image {
  width: 20%;
  height: auto;
  transform: translate(0px, -50px);
  
  
}

@keyframes orbit {
  0% {
      transform: rotate(0deg) translateX(80px) rotate(0deg);
  }
  100% {
      transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}

/* .orbit img {
  width: 75%;
  height: auto;
  transform: translate(0px, 50px);
 
} */
.custom-button {
  padding: 0px 2.5px;
}
.p {
  position: relative;
  z-index: 10; 
  padding: 0px 2px;
  
}


.content-section {
  width: 100%;
  padding: 0px 0px;
  margin: 0px, 0px, 0px;

}
header {
  padding: 0px, 0px;

}
h1 .planet-kosmos {
  font-size: 45px;
  font-family: 'Orbitron';
}
}